[submodule "projects/prj-despesas-pessoais"]
	path = projects/prj-despesas-pessoais
	url = https://github.com/alexribeirofaria/prj-despesas-pessoais.git
	branch = develop

[submodule "projects/jail-container"]
	path = projects/jail-container
	url = https://github.com/alexribeirofaria/jail-container.git
	branch = develop

[submodule "projects/app-ai-assistants"]
	path = projects/app-ai-assistants
	url = https://github.com/alexribeirofaria/app-ai-assistants.git
	branch = develop

[submodule "projects/prj-infnet-lite-streaming"]
	path = projects/prj-infnet-lite-streaming
	url = https://github.com/alexribeirofaria/prj-sistemas-web-.net-infnet.git
    branch = develop
	
[submodule "projects/prj-pix-charge"]
	path = projects/prj-pix-charge
	url = https://github.com/alexribeirofaria/prj-PIXCharge.git
	branch = develop

[submodule "projects/prj-gestao-empresarial"]
	path = projects/prj-gestao-empresarial
	url = https://github.com/alexribeirofaria/prj-gestao-empresarial.git
	branch = develop
	
[submodule "projects/prj-estacio-rstudio-jupyter"]
	path = projects/prj-estacio-rstudio-jupyter
	url = https://github.com/alexribeirofaria/prj-estacio-rstudio-jupyter.git
	branch = develop